body{
  color: skyblue;background-color: black;font-style: italic;font-family: 'lato'
}
p{
  color: greenyellow
}
#my-h1{
  color: greenyellow
}
.my-border {
  border: 2px solid whitesmoke;
}
.color{
  color: skyblue;
}
.flex-container{
  display: flex;
  background: red;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center
}


.trans{
  width: 100px;
  height: 100px;
  background: blue;
  margin: 50px;
  transition: 1000ms;
  transition-property: background,transform;
}

.trans:hover{
  background: green;
  transform: rotate(45deg);
}


.transform{
  width: 100px;
  height: 100px;
  margin-left: 100px;
  background: yellow;
  transform: translate(50px,-60px);
} 
.transform::after{
  content: 'after';
  background:green;
  font-size: 50px; 
  position: absolute;
  top:0;
  right: 50%;
  transform: translate(50%)
}
.small{
  transform: scale(var(--scale,2)) translate(var(--translate,100px)) rotate(var(--rotate,45deg));
}
.big{
  transform: translate(150px) scale(2) rotate(45deg);
}


.small{
  --translate: 50px;
  transition-duration: 500ms
}

.small:hover{
  background: sienna;
  transform: rotate(45deg)
}

.middle{
  position: absolute;
  top:1650px;
  left:50%;
  transform: translate(-50%);
  text-align: center;
  background: white;
}

.btn{
  background-color: none;
  padding: 5px 5px;
  border: 2px solid black;
  margin: 10px;
  max-width: 200px;
  text-transform: uppercase;
  font-size: 20px;
  transition: color 0.4s linear;
  cursor: pointer;
  position: relative;
}

.btn:hover{
  color: white;
}



.btn::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  background: black;
  transition:transform 500ms;
  transform-origin: 0 0;
}

.btn1::before{
  transform: scaleX(0);
}

.btn2::before{
  transform: scaleY(0);
}

.btn1:hover:before{
  transform: scaleX(1);
}

.btn2:hover:before{
  transform: scaleY(1);
}

